<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kacyber.pos">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.location.network" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- <uses-permission android:name="android.permission.READ_LOGS" /> -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- <uses-permission android:name="android.permission.GET_TASKS" /> -->
    <!-- <uses-permission android:name="android.permission.RECORD_AUDIO" /> -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />



    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme">

        <!-- TODO PROVIDE META DATA -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.kacyber.pos"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBSKHTlIcZPhrDdnTrNliubSwwQsK2As9Y" />

        <!--  //TODO NOTIFICATION   -->
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <!--   TODO ACTIVITYS -->

        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/activity_title_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/activity_title_main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ProfileActivity"
            android:label="My Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ManualActivity"
            android:label="@string/activity_title_manual"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.QuickSaleActivity"
            android:label="@string/activity_title_quick_sale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ReportsActivity"
            android:label="Reports"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TicketActivity"
            android:label="@string/activity_title_ticket"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CityListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SearchResultsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.DepartureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BusLayoutActivity"
            android:label="@string/bus_type"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CartActivity"
            android:label="@string/cart"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PassengerActivity"
            android:label="@string/passenger"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ScanTicketsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.NotificationActivity"
            android:label="Notification"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SettingActivity"
            android:label="Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.WebViewActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>